terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfstate
*.tfstate.*
# Added by goreleaser init:
dist/
.vscode/
.DS_Store
.envrc
ditto-cloud-bootstrap
dittocloud
!cmd/dittocloud
